:root {
  --header-height: 80px;
  --min-content-width: 300px;
  --max-content-width: 960px;
  scrollbar-width: thin;
  color-scheme: light
}

@media (prefers-reduced-motion:no-preference) {
  html {
      scroll-behavior: smooth
  }
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><circle fill="%2364748b" cx="2" cy="2" r=".5"/></svg>');
  background-repeat: repeat;
  font-size: .9rem;
  --tw-text-opacity: 1;
  color: rgb(15 23 42/var(--tw-text-opacity))
}

@media (min-width: 768px) {
  body {
      font-size:1rem;
      letter-spacing: .025em
  }
}

body {
  word-spacing: .12rem
}